*{
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	outline: none;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 34px;
	text-align: center;
}
img {
	max-width: 100%;
}
a {
	color: #034569;
	text-decoration: none;
	font-size: 18px;
}
html {
	background-color: #64AAD0;
}
input {
	background-color: inherit;
	margin-top: 30px;
	text-align: center;	
	font-size: 20px;
	border-color: #034569;
	padding: 10px 0;
}
input::placeholder {
	color: #034569;
}
input, button {
	border-radius: 10px;
}
form {
	flex-direction: column;
	display: flex;
}
button {
	cursor: pointer;
	width: 400px;
	height: 45px;
	background-color: #034569;

	border: none;
}
button > a {
	color: #64AAD0;
	font-size: 25px;
}
.sign {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.button {
	margin-top: 25px;	
}
.user-help {
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}
.inputText{
	color: #aaa;
}

/*effects*/
a:hover {
	color: #fff;
 transform: scale(1.4);
	transition: .3s;
}
button:hover {
 transform: scale(1.1);
 transition: .3s;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 95%
}
@media (max-width: )